body {
    padding: 5px;
}

.brand {
    width: 48px;
    height: auto;
}

.width100 {
    width: 100%;
}

.width20 {
    width: 20%;
}

.width25 {
    width: 25%;
}

.width75 {
    width: 75%;
}

.aligned-top {
    vertical-align: top;
}

.padding10 {
    padding: 10px;
}

.pointer {
    cursor: pointer;
}

.absolute{
    position: absolute;
}

.relative{
    position: relative;
}

.search-box{
    position: relative;
    display: inline-block;
    width:100%;
}
/*Animation*/
.slide-left.ng-enter {
  transform: translateX(-60px);
  -ms-transform: translateX(-60px);
  -webkit-transform: translateX(-60px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 0;
}
.slide-left.ng-enter-active {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1;
}
.slide-left.ng-leave {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1;
}
.slide-left.ng-leave-active {
  transform: translateX(-60px);
  -ms-transform: translateX(-60px);
  -webkit-transform: translateX(-60px);
  opacity: 0;
}
.slide-left.ng-hide-add {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1;
}
.slide-left.ng-hide-add.ng-hide-add-active {
  transform: translateX(-60px);
  -ms-transform: translateX(-60px);
  -webkit-transform: translateX(-60px);
  opacity: 0;
}
.slide-left.ng-hide-remove {
  transform: translateX(-60px);
  -ms-transform: translateX(-60px);
  -webkit-transform: translateX(-60px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  display: block !important;
  opacity: 0;
}
.slide-left.ng-hide-remove.ng-hide-remove-active {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1;
}

/* Floating points loader */
.loading {
    position: absolute;
    top: 33%;
    left: 50%;
}
.loading-bar {
    display: inline-block;
    width: 5px;
    height: 50px;
    border-radius: 4px;
    animation: loading 1s ease-in-out infinite;
}
.loading-bar:nth-child(1) {
    background-color: #3498db;
    animation-delay: 0;
}
.loading-bar:nth-child(2) {
    background-color: #c0392b;
    animation-delay: 0.09s;
}
.loading-bar:nth-child(3) {
    background-color: #f1c40f;
    animation-delay: .18s;
}
.loading-bar:nth-child(4) {
    background-color: #27ae60;
    animation-delay: .27s;
}
@keyframes loading {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1, 2.2);
    }
    40% {
        transform: scale(1);
    }
}

.loader-wrap{
    display: block;
    position: relative;
    width:100%;
    height: 100%;
    z-index: 9999999;
}

.grid {
  width: 100%;
  height: 600px !important;
}