<table class="width100">
    <tr>
        <td style="vertical-align: top; width: 60%; ">
            <table ng-table="tableParams" class="table">
                <caption>
                    Users
                </caption>
                <thead>
                <tr>
                    <th style="text-align:left">Email</th>
                    <th style="text-align:left">Display</th>
                    <th style="text-align:left">Role</th>
                    <th style="text-align:left">Modules</th>
                    <th style="text-align:left">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in $data track by user.uid">
                    <td sortable="'email'">
                        {{user.email}}
                    </td>
                    <td sortable="'display'">
                        {{user.display}}
                    </td>
                    <td sortable="'role'">
                        {{user.role}}
                    </td>
                    <td>
                        {{user.modules}}
                    </td>
                    <td>
                        <div class="btn-toolbar">
                            <button class="btn btn-default btn-xs" ng-click="editUser(user.uid)"><span
                                    class="glyphicon glyphicon-edit"></span></button>
                            <button class="btn btn-danger btn-xs" ng-click="deleteUser(user.uid)"><span
                                    class="glyphicon glyphicon-remove"></span></button>
                        </div>
                    </td>

                </tr>
                </tbody>
            </table>
            <!--<div ng-repeat="user in users">{{user}}</div>-->
        </td>
        <td style="width: 2%;vertical-align: top;">
            &nbsp;
        </td>
        <td style="vertical-align: top;">
            <table>
                <caption>
                    User Info
                </caption>
                <tbody>
                <tr>
                    <td><input type="text" class="form-control" ng-model="userForm.email" placeholder="Email" ng-disabled="userForm.uid"></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control" ng-model="userForm.password" placeholder="Password"></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control" ng-model="userForm.display" placeholder="Display"></td>
                </tr>
                <tr>
                    <td>
                        <select class="form-control" ng_model="userForm.role"
                                ng-options="key for key in roles track by key">
                            <option value="">choose role</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Modules</label>
                        <select multiple="" class="form-control" ng-model="userForm.modules" ng-options="module.title for module in modules track by module.mid">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <button ng-click="cancel()" class="btn btn-default">Cancel</button>
                            <button class="btn btn-primary" ng-click="saveUser()">Save</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>



