<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Find author</h3>
    </div>
    <div class="panel-body">
        <div class="search-box" ng-init="searchHover=false" ng-mouseleave="searchHover = false"
             ng-mouseover="searchHover = true">
            <input type="text" ng-model="searchParam" class="form-control input-lg relative" ng-enter="executeSearch()"/>
            <span ng-if="searchHover" class="glyphicon glyphicon-remove absolute pointer"
                  style="font-size: larger;top:18px;right:45px;" ng-click="clearSearch()"></span>
            <span class="glyphicon glyphicon-search absolute pointer" style="font-size: larger;top:18px;right:20px;"
                  ng-click="executeSearch()"></span>
        </div>
        <floating-loader ng-if="loadingData"></floating-loader>
        <div style="height: 552px;overflow-y: auto; overflow-x: hidden;font-size: 15px;">
            <br/>
            <ul>
                <li ng-repeat="author in authors"><a class="pointer" ng-click="findBooksOfAuthor(author[0])">{{author[1]}}</a></li>
            </ul>
        </div>

    </div>
</div>