<floating-loader ng-if="loadingData"></floating-loader>
<div id="grid1" ui-grid="gridOptions" ui-grid-tree-view  ui-grid-resize-columns  ui-grid-auto-resize  ui-grid-selection class="grid"></div>
<div class="panel panel-default bookInfoPanel">
    <div class="panel-heading">
        <h3 class="panel-title"><strong>Information about selected book</strong></h3>
    </div>
    <div class="panel-body">
        <p ng-if="selectedBook.book">Title:{{selectedBook.book.TITLE}}->Size:{{selectedBook.book.SIZE }}&nbsp;&nbsp;<a ng-click="download()" ng-disabled="selectedBook.downloading" class="btn btn-primary">Download</a></p>
    </div>
</div>

