<div class="panel panel-primary leftbarPanel">
    <div class="panel-heading">
        <h3 class="panel-title">Advanced search</h3>
    </div>
    <div class="panel-body">
        <floating-loader ng-if="loadingData"></floating-loader>
        <p class="form-group">
            <label>Author</label>
            <input class="form-control" type="text" ng-model="searchParam.author"/>
        </p>
        <p class="form-group">
            <label>Title</label>
            <input class="form-control" type="text" ng-model="searchParam.title"/>
        </p>
        <p class="form-group">
            <label>Genre</label>
            <select class="form-control" ng-model="searchParam.genre">
                <optgroup label="{{gparent.gdesc}}" ng-repeat="gparent  in genres track by gparent.gid">
                    <option label="{{gkid.gdesc}}"  value="{{gkid.gid}}" ng-repeat="gkid in gparent.children track by gkid.gid"/>
                </optgroup>
            </select>
        </p>
        <p class="form-group">
            <label>From Date</label>
        <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup ng-model="searchParam.dtFrom"
                   is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
        </p>
        <p class="form-group">
            <label>To Date</label>
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup ng-model="searchParam.dtTo" is-open="popup2.opened"
                       datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open2()"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </p>

        <p class="btn-toolbar">
            <button class="btn btn-primary" ng-click="searchByForm()">Search</button>
            <button class="btn btn-default" ng-click="clearSearch()">Clear</button>
        </p>
    </div>
</div>